* {
  border: none
}

table {
  height: 50%;
  width: 90%;
  background: white;
}


td {
  width: 33.33%;
  background: rgb(214, 218, 239);
  
}
.space {
  height: 90%;
  width: 90%;
  background: rgba(214, 218, 239, .9);
  margin-left: 5%;
  font-size: xx-large;
  
  color: black;
}

.result {
  padding-top: 10%;
  font-size: x-large;
}



