.container-main {
  background: white;
  width: 80vw;
  height: 50vh;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
}

.title {
  font-size: larger;
  text-align: center;
}



.main-button {
  background: #e21b5a;
  height: 15%;
  width: 50%;
  text-align: center;
  font-size: medium;
  border-radius: 12px;
}

.main-button:hover {

}